<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.homes.any? %>
			<h3> Homes (<%= @user.homes.count %>)</h3>
			<ol class="homes">
				<%= render @homes %>
			</ol>
		<% end %>
	</div>
</div>
