<% provide(:title, 'Edit home') %>
<h1>Update this home</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@home) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
